#student-main .upload-avatar {
	margin-top: -3rem;
	/* TODO: Vorschlag, damit Header immer sichbar ist und das Profilbild nicht abgeschnitten wird */
	/* margin-top: 1rem */
}

#student-data {
	main {
		display: grid;
		grid-template-columns: 1fr 4fr;
		align-items: center;
		gap: 0.5rem;
	}
}

.student-data-editor {
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	gap: 0.5rem;

	i {
		grid-column: 1 / 2;
	}

	label {
		grid-column: 2 / 3;
	}

	button {
		grid-column: 1 / 3;
	}

	input {
		grid-column: 2 / 3;
		border: 2px solid var(--deselected);
		border-radius: 8px;
		transition: border-color var(--transition-time) ease;

		&:focus {
			outline: none;
			border-color: var(--clr-primary);
		}
	}

	.course-select {
		grid-column: 2 / 3;

		& > div {
			border-radius: 8px;
			border-width: 2px;
			border-color: var(--deselected);
		}

		.select-placeholder {
			font-size: 0.9rem;
			color: var(--clr-text);
		}
	}
}

#student-documents {
	.student-delete-button {
		margin-right: 2rem;
	}
}
