@font-face {
	font-family: "Source Sans Pro";
	src: url("/src/assets/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
	font-weight: 100;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("/src/assets/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("/src/assets/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
	font-weight: 700;
}