:root {
	--clr-primary: #FF6C02;
	--clr-primary-light: #FF8A35;
	--primary-base: #555555;
	--secondary-base: #666666;
	--attention: #BE0909;
	--success: #09BE09;
	--clr-text: #1E1E1E;
	--on-primary-base: #FFFFFF;
	--gray: #D9D9D9;
	--deselected: #A1A1A1;

	--transition-time: 300ms;
}